:root {

  /* Philis Luxury Palette */

  --pink-primary: #e91e63;
  --pink-soft: #fce4ec;
  --pink-light: #fff5f8;

  --white: #ffffff;
  --black: #161616;

  --gray-text: #6b7280;

  --gold-soft: #d4af37;


  /* Shadows */

  --shadow-luxury:
  0 20px 50px rgba(0,0,0,0.08);


  /* Radius */

  --radius-xl: 32px;

}
